/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ******/

header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    height: 79px;
}

.logo img {
    width: 61.09px;
    height: 19px;
    left: 50px;
    top: 30px;
}

nav ul {
    display: flex;
}

ul {
    list-style-type: none;
    padding: unset;
}

nav li {
    padding: 37px 33.5px;
}

nav li:hover {
    border-top: solid 2px #0065FC;
    cursor: pointer;
    
}

nav li:hover a {
    color: #0065FC;
    width: 113px;
    height: 2px;
    left: 0px;
    top: 0px;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

a {
    text-decoration:none;
    color: black;
}

/***** Formulaire ******/

form {
    display: flex;
    margin-bottom: 20px;
    
}

.Logo-location {
    background-color:  #F2F2F2; 
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 20px;
    height: 18px;
    width: 14px;
    left: 18px;
    top: 15px;
    

}

input {
    text-align: center;
    border-color: #f2f2f2;
   border-right: none;
    border-left: none;
    border-width: 0.8px;
    height: 58px;
    width: 147px;
    left: 74px;
    top: 14px;
   
}


.button-rechercher {
    color: white;
    background-color: #0065FC;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: 700;
    font-size: 17px;
}

::placeholder {
    font-weight: 700;
    color: black;
}

/***** Filtres ******/

.Filtres {
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}

.Filtres h2 {
    margin-right: 15px;
}

.Filtres i {
    padding-right: 15px;
}
.filter-buttons {
   
    border-style: solid;
    border-color: #d9d9d9;
    font-weight: 700;
    border-radius: 100px;
    padding: 20px;
    justify-content: flex-start;
    margin: 5px;
    margin-bottom: 20px;
    font-size: 17px;
    border-width: 3px;
    background-color: white;
}

.logements-dispo i {
    width: 18px;
    height: 18px;
    border-radius: 56px;
    border: 1px solid #d9d9d9;
    padding: 4px;
    text-align: center;
    margin-right: 8px;

}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section { 
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title .section-title {
    padding-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.hebergements-cards .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%;
    height: 207.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    font-weight: 700;
    font-size: 16px;
    height: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 15px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-left: 15px;
    margin-bottom: 8px;
    
}

.hebergements-cards .card-rating {
    display: flex;
    margin-left: 15px;
    margin-top: 8px;

}

.hebergements .afficher-plus {
    height: 21px;
    margin-top: 30px;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/***** Activités *****/

.activites-cards  {
    
   
}

.icones-activites  {
    display: flex;
    flex-wrap: wrap;
    
 
}

.icones-activites .card {
    margin-right: 30px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.icones-activites img {
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 380px;
    width: 294.5px;
    
}

.icones-activites .card-txt {
    height: 19px;
    width: 259.5px;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-left: 19px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}